node_modules/
*__pycache__*
.vscode/
package-lock.json
.DS_Store
config.yml

logs/
*.html
*.json
*/json/
tmp/
.ipynb_checkpoints/

temp.py
broken_inspection.ipynb
ReorgPageFinder.ipynb
test.ipynb
query.ipynb
broken_pages/*.yaml
search/schedule.py
*.mongo
backlinks.csv
sample.csv
alexa_top1k.txt

jupyter.log
ReorgPageFinder.log