pymongo
langdetect
langcodes
language_data
justext
publicsuffixlist
newspaper3k
goose3
whois
BeautifulSoup4
brotli
dateparser
python-dateutil
Unidecode
reppy
sklearn
url_normalize
cchardet
pandas
regex

azure-identity
azure-keyvault-secrets
azure-storage-queue
azure-storage-file-share

subprocess.run