pymongo
langdetect
langcodes
justext
publicsuffixlist
newspaper3k
goose3
whois
BeautifulSoup4
brotli
dateparser
python-dateutil
Unidecode
reppy
sklearn
boilerpipe3
url_normalize
cchardet
pandas
regex

azure-identity
azure-keyvault-secrets